<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>date</key>
		<date>2015-04-28T21:43:08Z</date>
		<key>image</key>
		<string>Italy 002.jpg</string>
	</dict>
	<dict>
		<key>date</key>
		<date>2015-04-29T21:43:08Z</date>
		<key>image</key>
		<string>Italy 005.jpg</string>
	</dict>
	<dict>
		<key>date</key>
		<date>2015-04-30T21:43:08Z</date>
		<key>image</key>
		<string>Italy 006.jpg</string>
	</dict>
	<dict>
		<key>date</key>
		<date>2015-04-28T21:43:08Z</date>
		<key>image</key>
		<string>Italy 007.jpg</string>
	</dict>
	<dict>
		<key>date</key>
		<date>2015-05-02T21:43:08Z</date>
		<key>image</key>
		<string>Italy 010.jpg</string>
	</dict>
	<dict>
		<key>date</key>
		<date>2015-05-03T21:43:08Z</date>
		<key>image</key>
		<string>Italy 012.jpg</string>
	</dict>
	<dict>
		<key>date</key>
		<date>2015-05-05T21:43:08Z</date>
		<key>image</key>
		<string>Italy 014.jpg</string>
	</dict>
	<dict>
		<key>date</key>
		<date>2015-05-06T21:43:08Z</date>
		<key>image</key>
		<string>Italy 015.jpg</string>
	</dict>
	<dict>
		<key>date</key>
		<date>2015-05-07T21:43:08Z</date>
		<key>image</key>
		<string>Italy 016.jpg</string>
	</dict>
	<dict>
		<key>date</key>
		<date>2015-05-09T21:43:08Z</date>
		<key>image</key>
		<string>Italy 018.jpg</string>
	</dict>
	<dict>
		<key>date</key>
		<date>2015-05-10T21:43:08Z</date>
		<key>image</key>
		<string>Italy 019.jpg</string>
	</dict>
	<dict>
		<key>date</key>
		<date>2015-05-11T21:43:08Z</date>
		<key>image</key>
		<string>Italy 020.jpg</string>
	</dict>
</array>
</plist>
